<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>REST API Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Welcome to Online Loan Eligibility Portal!</h1>
    <form action="{{ url_for('predict')}}" method="POST">
            <fieldset>
            <legend align="right"></legend>
         </h6>Please fill the form to check your eligibility</h6>
         <p></p>
         <label for="home">Home Type</label>
        <select name="home" id="">
                <option value="a">A</option>
                <option value="b">B</option>
                <option value="c">C</option>
        </select>
        <br>
        <label for="age">Age:</label>
        <input type="number" name="age" placeholder="age in years" al>
        <br>
        <label for="income">Income:</label>
        <input type="number" name="income" placeholder="$ thousands per annum">
        <br>
        <label for="experience">Experience</label>
        <input type="number" name="experience" id="" placeholder="experience in years">
        
        <input type="submit" value="Submit">
    </fieldset>
    </form>

    <h1>{{msg}}</h1>
    {% if msg == "Sorry! You are not eligiable for a loan" or msg == "Congrats! You are eligible for a loan"%}
    <a href="{{url_for('index')}}">click here to go back</a>
    {%endif%}
</body>
</html>